<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Shopping Web</title>
    <link rel="stylesheet" href="task2.css">
</head>
<body>
    <header>
<nav>
   <div class="logo">E-shop</div>
   <div class="menu">
<a href="#">Home</a>
<a href="#">Featured</a>
<a href="#">Men</a>
<a href="#">Women</a>
<a href="#">SHOP</a>
</div>
</nav>
<div class="container">
<div class="left">
    <img src="images/h.png">
</div>
<div class="right">
    <h1>Best Festival Offers</h1>
<p>We are providing best quality materials. We have best quality clothes, shoes 
    for men and women.
</p>
<p>
  50% Discount!!!  
</p>
<button> Shop Now </button><br>
<div class="social">
<img src="images/317751_google_google plus_social media_social_icon.png">
<img src="images/1233013_facebook_icon.png">
<img src="images/1233015_twitter_icon.png">
</div>

</div>
</div>


    </header>
</body>
</html>