<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Registration</h1>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Full Name" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="email" placeholder="email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Phone Number" required>
                    <i class='bx bxs-phone'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="password" placeholder="password" required>
                    <i class='bx bxs-lock'></i>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" required>
                    <i class='bx bxs-lock'></i>
                </div>
            </div>

            <label><input type="checkbox">I hereby declare that the above information provided is true</label>

            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</body>
</html>