<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Design</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <div class="header">
        <nav>
            <img src="images/logo.jpg">
            <ul>
                <li>Home</li>
                <li>Packages</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div class="main-text">
            <h1>Holiday Special Travel Packages</h1>
            <a href="#" class="button">Explore Now</a>
        </div>
        <img src="images/wave-img.png" class="bottom-img">
    </div>
</body>

</html>