<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zomato</title>
    <link href="./styles.css" rel="stylesheet" />
</head>

<body>
    <img src="./images/home.jpg" alt="Image not Found" class="homeImage" />
    <div class="topSection">
        <div class="logo">z!</div>
        <div class="headerText">Find the best restaurants, cafes, and bars</div>
        <div class="searchOptions">
            <span>
                <select class="locationbox">
                    <option selected disabled>--Select City--</option>
                    <option>Mumbai</option>
                    <option>Bangalore</option>
                    <option>Kolkata</option>
                    <option>Chennai</option>
                    <option>Hyderabad</option>
                </select>
            </span>
            <span class="serchbox">
                <input type="text" class="searchInput" placeholder="Search for restaurants" />
            </span>
        </div>
    </div>
    <div class="bottomSection">
        <h1 class="qs-heading">Quick Searches</h1>
        <h3 class="qs-subheading">Discover restaurants by type of meal</h3>
        <div class="qs-boxes-containers">
            <div class="qs-box">
            <div class="qs-box-contents">    
            <img src="./images/breakfast.jpg" class="qs-image" />
                    <h4 class="qs-items-heading">Breakfast</h4>
                    <p class="qs-item-description">start your day with exclusive breakfast options </p>
            </div>
            </div> 
            <div class="qs-box">
                <div class="qs-box-contents">
            <img src="./images/lunch.jpg" class="qs-image" />
                    <h4 class="qs-items-heading">Lunch</h4>
                    <p class="qs-item-description">enjoy your tasty lunch</p>
                </div>
            </div>
            <div class="qs-box">
                <div class="qs-box-contents">
              <img src="./images/dinner.jpeg" class="qs-image" />
                    <h4 class="qs-items-heading">Dinner</h4>
                    <p class="qs-item-description">delicious food</p>
                </div>
            </div>
            <div class="qs-box">
                <div class="qs-box-contents">
            <img src="./images/drinks.jpeg" class="qs-image" />
                    <h4 class="qs-items-heading">Drinks</h4>
                    <p class="qs-item-description">refreshment</p>
                </div>
            </div>
            <div class="qs-box">
                <div class="qs-box-contents">
                    <img src="./images/snacks.jpg" class="qs-image" />
                    <h4 class="qs-items-heading">Snacks</h4>
                    <p class="qs-item-description">varities of snacks</p>
                </div>
            </div>
            <div class="qs-box">
                <div class="qs-box-contents">
                 <img src="./images/desserts.jpg" class="qs-image" />
                    <h4 class="qs-items-heading">Desserts</h4>
                    <p class="qs-item-description">satisfy your sweet  tooth </p>
                </div>
    </div>
</body>

</html>