* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}

header {
    height: 60px;
    width: 100%;
    background: #2b2a2a;
    color: #f8f8f8;
    display: flex;
    align-items: center;
}

.nav-list{
    display: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.logo {
    font-size: 24px;
}

.hero {
    width: 100%;
    height: auto;
    background: url(images/heo-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f8f8f8;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 40px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 10px;
}

.search-box {
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(243, 36, 36);
}

.search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    background: rgb(243, 36, 36);
    color: #f8f8f8;
    cursor: pointer;
}

/* ...........Recipe Section.......... */

.recipes{
    padding: 50px 0;
}

.recipes h1{
text-align: center;
margin-bottom: 30px;
font-size: 28px;
}

.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}

.recipe-card{
background: #f8f8f8;
margin: 30px 10px;
border-radius: 8px;
border: 1px solid #ccc;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img{
width: 100%;
height: 200px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.recipe-card h2{
font-size: 22px;
padding: 20px;
}

.recipe-card p{
font-size: 18px;
padding: 20px;
}

.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #f8f8f8;
    padding: 15px 0; 
    cursor: pointer;
}

footer{
    background: #333;
    padding: 20px 0;
    color: #f8f8f8;
    text-align: center;
}

.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}

/* .............Media Query............. */

@media only screen and (min-width: 768px){
.menu-icon{
    display: none;
}

.nav-list{
    display: block;
}
}
@media only screen and (min-width: 768px){
.hero h2{
    font-size: 28px;
}
.hero p{
    font-size: 15px;
}
}