*{
    box-sizing: border-box;
}
body{
    border: 0;
    width: 100%;
}
.container{
width: 83%;
margin: auto;

}
.header{
    position: relative;
    height: 420px;
}
.image-container{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transform: scale(1.1);
}
.header-body-section{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}
.nav{
    font-weight: 550;
    height: 50px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LogoContainer{
    display: flex;
    align-items: center;
}
.LogoContainer p{
    padding: 5px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    padding: 0px 3px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 100;
    
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
}
.header-body-content{
    position: relative;
    top: -50px;
}
.header-body-section-discover{
    font-size: 40px;
    margin: 20px 0;
}
.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 760px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
color: black;
}
.location-map{
    color: rgb(216, 132, 132);
    font-size: 22px;
}
.caret-up{
    color: black;
}
.detectionLocation input{
border: none;
font-size: 15px;
width: 190px;
}
.search-item{
    color: rgb(116, 111, 111);
    font-size: 18px;
}
.line{
    padding: 7px;
}
.search-item input{
max-width: 100%;
width: 400px;
font-size: 15px;
border: none;
padding: 5 10px;
outline: none;
}
.section1{
    padding-left: 50px;   
}
/* .container-feature{
    display: flex;
    justify-content: space-between;
} */
.feature{
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 0.1px solid rgb(220, 215, 215);
    width: 600px;
    
}
.feature-image{  
    height: 200px;
    overflow: hidden;
}
.feature-image img{
width: 600px;
}
.feature h3,
.feature p{
    padding-left: 20px;
}
.feature:hover{
    transform: scale(1.05);
    cursor: pointer;
}
